{% extends "layout/app.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">

          <h3 class="text-secondary card-title col-md-12 mb-4">{{ product["merk"] }} {{ product["naam"] }} {% if not product["korting"] is empty %}<span class="badge badge-danger ml-2">Korting!</span>{% endif %}</h3>

        <div class="col-md-8">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               {% for key in images|keys %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{key}" class="{% if key == 0 %} active {% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
            {% for  key, image in images %}

            <div class="carousel-item   {% if key == 0 %} active {% endif %}">
              <img class="d-block w-100" src="/images/product/{{ image["path"] }}" alt="First slide">
            </div>

              {% endfor %}


            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        </div>

        <div class="col-md-4">
            <div class="mt-2">
              <div class="arrow  {{ not product["korting"] is empty ? "arrow-discount" : "" }}">
                  {% if not product["korting"] is empty %}
                      <h5 class="text-danger text-line-through font-italic font-weight-li">{{ product["prijs"] }}</h5>
                  {% endif %}
                  <h2 class="m-0 font-weight-bold">{{ not product["korting"] is empty ? product["korting"] : product["prijs"] }}</h2>
              </div>
                <form class="form mb-4" action="/cart/addtocart" method="GET">
                    <div>
                    <label class="form-control-label mt-4" for="">Aantal</label>
                    <input name="count" value="{{ product["EAN"] }}" type="hidden" min="0" max="99">
                    <input name="count" value="" type="number" min="0" max="99">
                  </div>

                    <div class="mt-2">
                     {# <a href="" class="btn btn-primary">Toevoegen <i class="fas fa-shopping-cart"></i></a> #}
                      <button type="submit" class="btn btn-primary">Toevoegen <i class="fas fa-shopping-cart"></i></button>
                          </div>
                </form>
            </div>
        </div>
      </div>

      <div class='card mt-5'>
          <div class='card-header'>
              <h4 class='card-title'>  Specificaties :</h4>
          </div>
          <div class='card-body'>

      {{ product["priority_table"]|raw }}

      </div>
    </div>


{% endblock %}
