
<div class="card sticky-top mx-3" style="top: 5em;">
  <h5 class="card-header">Winkelwagen</h5>
  <div class="card-body">
  {% for product in products["products"] %}
  <div class="row">
    <div class="col-md-3">
      <img class="w-100 mb-auto d-block" src="/images/product/{{ product["path"] }}" alt="">
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <h5>{{ product["naam"] }}</h5>
        </div>
        <div class="col-md-12">
          {# <small>{{ product["prijs"] }}</small> #}
          <small>{{ not product["korting"] is empty ? product["korting"] : product["prijs"] }}</small>
        </div>
      </div>
    </div>
     <div class="col-md-2">
        <a class="btn btn-danger" href="/cart/deletecart?ean={{ product["naam"] }}" ><i class='fa fa-trash-alt'></i></a>
    </div>
    
  </div>
  <div class="row">
    <div class="input-group">
     <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button">-</button>
  </div>
  <input type="text" class="form-control" value="{{ product["aantal"] }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">+</button>
  </div>
</div>
  </div>
  <hr>
  {% endfor %}
   
  

  </div>
  {{ priceTable|raw }}
  <a href="/betaal/formulier" class="btn btn-primary">betaal</a>
</div>

